
.gnometouch-setting-navbar-gestures #dashtodockContainer.bottom #dash
    padding-bottom: 20px !important

.gnometouch-setting-navbar-buttons #dashtodockContainer.bottom #dash
    padding-bottom: 41px !important


#gnometouchNavigationBar
    transition-duration: 250ms

    &.transparent
        background-color: rgba(0,0,0,0)

