/*
 * SPDX-FileCopyrightText: 2026 mityax, 2026
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

@import "prefs-light"

.callout
    &--green
        background-color: rgba(255, 255, 255, 0.15)
        color: #cccccc


.donations-page
    &__donation-option
        $this: &

        &:hover
            border-color: white
