@import "stylesheet-dark"


.touchup-navbar
    $bar: &
    $pill: #{$bar}__pill
    $buttons: #{$bar}__button

    background-color: $light-theme-color

    #{$pill}
        background-color: $dark-theme-color

    #{$buttons}
        color: $dark-theme-color

    &--visible
        #panelBox.dashtopanel  // if DashToPanel's panel is above the navbar, it must always be opaque
            background: $light-theme-color


StButton.message.touchup-notification--touched
    background-color: #dededf // active (= while button pressed) notification background color

